table {
width: 100%;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

th, td {
padding: 15px;
}
.mat-card {
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: inline-block;
position: relative;
padding: 10px;
border-radius: 4px;
margin-right: 10px;
}