<div style="text-align:center">
  <h1>
    A Different Way To Show My Results!
  </h1>
</div>

<div style="text-align:center">
  <mat-card class="example-card" style="background:lightgray;width:48%;">
      <mat-card-header style="text-align:left !important">
        <mat-card-title>Total Rows</mat-card-title>
        <mat-card-subtitle>How many rows in the provided CSV file?</mat-card-subtitle>
      </mat-card-header>
      <img style="width:100%" mat-card-image src="../assets/thumbsup.jpg" alt="thumbsup1">
      <mat-card-content>
        <h1>
            {{number | json}}
        </h1>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="countRows()">Click To Reveal!</button>
      </mat-card-actions>
    </mat-card>
  
  <mat-card class="example-card" style="background:lightgray;width:48%">
      <mat-card-header style="text-align:left !important">
        <mat-card-title>Sum of SR IDs</mat-card-title>
        <mat-card-subtitle>When reformatted, what is the sum of the SR ID column?</mat-card-subtitle>
      </mat-card-header>
      <img style="width:100%;" mat-card-image src="../assets/dogsmile.jpg" alt="thumbsup1">
      <mat-card-content>
        <h1>
            {{total | json}}
        </h1>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="sumRowData()">Click To Reveal!</button>
      </mat-card-actions>
    </mat-card>
</div>
<br>
<br>
<div style="text-align:center">
    <h2>
      Be Warned, This Table is Messy
    </h2>
  </div>
<div>
  <button mat-raised-button color="primary" (click)="getAllIds()">View Unique IDs</button>
</div>
<br>
<table>
    <tr>
      <th>Customer ID</th>
      <th>SR ID</th>
    </tr>
    <tr *ngFor="let item of ids | keyvalue">
      <td>{{item.key}}</td>
      <td><p *ngFor="let v of item.value">{{v}}</p></td>
    </tr>
  </table>